body {
    background-color: #f9f9f9;
}

.header {
    background-color: #fff;
    border-radius: 15px;
    margin-top: 20px;
}

.header img {
    display: block;
    margin: 0 auto;
}

.header h1 {
    color: #068632;
}

.card {
    border-radius: 15px;
}

.product-item {
    border-radius: 10px;
}

.product-purchased {
    background-color: #d4edda;
}

.product-pending {
    background-color: #fff3cd;
}

.product-cancelled {
    background-color: #f8d7da;
}

.footer {
    background-color: #fff;
    border-radius: 15px;
    margin-top: 20px;
}

.footer button {
    margin: 5px;
}
